/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(0, 0%, 100%);
$c_bg_section: hsl(240, 75%, 98%);
$c_bg_calltoaction: hsl(238, 22%, 44%);
$c_bg_footer: hsl(243, 87%, 12%);
$c_bg_button: hsl(224, 93%, 58%);
$c_bg_testimonial_card: hsl(0, 0%, 99%);

$c_txt_section_links: hsl(170, 45%, 43%);
$c_txt_placeholder: hsl(0, 0%, 75%);
$c_txt_dark: hsl(243, 87%, 12%);
$c_txt_light: hsl(0, 0%, 100%);
$c_txt_nav: hsl(0, 0%, 35%);

$c_input_invalid: hsl(0, 48%, 51%);